html {
    font-family: "Host Grotesk", sans-serif;
    background-color: #C8ACD6;
}

body {
    width: 600px;
    margin: 10px auto 10px auto;
    background-color: #433D8B;
    padding: 0 20px 20px 20px;
    border: 5px solid #17153B;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #C8ACD6;
    text-shadow: 5px 5px 1px #17153B;
    line-height: 1;
}

p, li, a {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
}

img {
    display: block;
    margin: 0 auto;
    width: 600px;
    border: 3px solid #17153B;
}

button {
    display: block;
    margin: 10px auto;
    background-color: #17153B;
    color: #C8ACD6;
    border: 3px groove #C8ACD6;

}